<h1 class="text-danger">Category</h1>
<a href="/category/add"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPsH-kmHwy1iJgBeyrDPIRgPvkvh5MH1UMGg&usqp=CAU" height="30" width="30"></a>

<table class="table table-warning mt-3">

    <thead>
        
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Suitable Age</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
 
    {{#each category }}
   <tr>
   <td><a>{{name}}</a></td>
    <td>
        <a href="/category/detail/{{_id}}">
            <img src="{{image}}" width="180" height="180">
         </a>
    
    <td>{{suitable_age}}</td>
    <td>{{description}}</td>
      <td>
         <a  href="/category/edit/{{_id}}"><img src="https://www.svgrepo.com/show/36160/edit-button.svg" height="40" width="40"/></a>
         <a  href="/category/delete/{{_id}}" 
         onclick="return confirm('Are you sure to delete ?')";><img src="https://www.svgrepo.com/show/21045/delete-button.svg" height="40" width="40" ></a>
      </td>
   </tr>
   {{/each}}
       
    </tbody>
  </table>